.about {
  padding-top: 90px ;
  padding-bottom: 84px ;
 background-position-x: 0%;
 background-position-y: 0%;
 background-repeat: repeat;
 background-size: auto;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: center center;
}

.about .about_img figure {
  margin: 0px;
}

.about .about_box {
  text-align: right;
  padding-top: 130px;
}

.about .about_box h3 {
  font-weight: bold;
  font-size: 30px;
  color: #888687;
  line-height: 32px;
  padding-bottom: 7px;
 display: block;
}

.about .about_box span {
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  color:#23242a;
  padding-bottom: 10px;
display: block
}

.about .about_box p {
  font-size: 17px;
  line-height: 30px;
  color: #23242a;
}

.about_box_ span {
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  color:#23242a;
  padding-bottom: 10px;
display: block
}

.about_box_ { text-align: left;
  padding-top: 130px;}

.about_box_ p {
  font-size: 17px;
  line-height: 30px;
  color: #23242a;
}
