<!-- about -->
<div class="about my-4">
  <div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
            <div class="about_img">
                <figure><img src="../../../assets/images/about.png" alt="about" /></figure>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
            <div class="about_box">
                <h3>About Us</h3>
                <span>GXG Mobile Shop</span>
                <p>Welcome to GXG Mobile Shop, your ultimate destination for the latest and greatest in mobile technology. At GXG, we pride ourselves on offering a diverse selection of cutting-edge smartphones from top brands like Apple, Samsung, Google, OnePlus, Xiaomi, and Huawei. Whether you're looking for the newest iPhone, the latest Galaxy, or a sleek OnePlus device, we've got you covered. Our commitment to excellence extends beyond our product range; we provide exceptional customer service to ensure you find the perfect mobile device to meet your needs. With a variety of storage options, colors, and connectivity features available, GXG Mobile Shop is dedicated to delivering a personalized shopping experience that caters to every individual. Join us at GXG Mobile Shop and stay connected with the world through innovation and quality.</p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- end about -->
<section class="pb-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-xl-8 mx-auto">
              <div class="p-5 bg-white shadow rounded">
                <div>
                  <div class="media">
                      <div class="media-body ml-3">
                          <blockquote class="blockquote border-0 p-0">
                              <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>Mobile phones are misnamed. They should be called gateways to human knowledge.</p>
                              <footer class="blockquote-footer">Steve Jobs
                                  <cite title="Source Title">CEO of Apple</cite>
                              </footer>
                          </blockquote>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
