<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin mt-4">
  <div class="brand_box text-center">
      <img class="card-img-top" width="auto" [src]='"../../../assets/images/phones/"+mobile.image' [alt]="mobile.image" />
      <h3>$<strong class="red">{{mobile.prices[0]}}</strong></h3>
      <span class="fw-bold">{{getBrand(mobile.model_id,data)}}</span><br/>
      <span>{{getModel(mobile.model_id,data)}}</span><br/>
      <a class="btn btn-outline-danger mt-3" href="/phone/{{mobile.id}}">View Details</a>
  </div>
</div>
